@media screen and (min-width: 480px) {
  #no-mobile{
    display: none;
  }
#intro-img{
  background-image: url('pelican.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: block;

}
body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: #ECECEA;
}
.title{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #558C89;
  letter-spacing: 2px;
}
#logo{
  display: flex;
  margin: auto;

}
.button{
  //background-color: #D9853B;
  background-color: white;
  padding: 20px;
  text-decoration: none;
  color:black;
  border:1px solid lightgray;
  letter-spacing: 1px;
  opacity: 0.6;
  border-radius: 25px;
  font-weight: bolder;
}
.big{
  font-size: 1.5em;
  margin-left: 30px;
}
#front-links{
  margin-top: 50px;
  text-align: center;

}
.content-left
{
  float:left;
  background-color: white;
  padding: 2em;
  border: 1px solid lightgray;
  margin-left: 10%;
  border-radius: 25px;
  width: 500px;
  height: 300px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-right: 11px;
}

.content-right
{
  text-transform: uppercase;
  background-color: white;
  text-align: center;
padding-top: 5em;
 border: 1px solid lightgray;
 margin-left: 10%;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  letter-spacing: 1px;
  overflow: scroll;
}
#demo-page{
  height: 100%;
  width: 100%;
}
}
@media screen and (max-width: 480px) {
  #no-mobile{
    background-color: pink;
    border: 1px solid red;
  }
}
